<html>
<head>
  <title> v-htmx </title>
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>

<div class='navBar'>
  <div class='logo'> <img class="logo" src="knight.svg" height="20pt" width="20pt"/> </div>
  <div class='navButton' hx-get="/churches" hx-target="#main"> Churches </div>
  <div class='navButton' hx-get="/brasses"  hx-target="#main"> Brasses </div>
  <div class='navButton' hx-get="/rubbings" hx-target="#main"> Rubbings </div>
  <!-- was with hx-trigger="click" hx-target="#main" --> 
</div>

<div id="main"> </div>

</body>
</html>
