

div.listAndMainInfo
  div.leftList
    h1.leftHeader= listTitle

    div(hx-replace-url="true")
      ul
        each cl in cList
          li
            button(hx-get=cl.cURL, hx-target="#mainInfo")= cl.cname

  div.mainInfo#mainInfo
