

body {
  background-color: hsla(205, 46%, 10%, 1);
  background-color: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
}

span.navRow {
  width: 100%;
}

img.logo {
  height: 30pt;
  width: 30pt;
  background-color: gold;
  margin-right: 50px;
  filter: invert(94%) sepia(6%) saturate(1769%) hue-rotate(191deg) brightness(85%) contrast(86%);
  /* weird way to change colors
     https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element 
     - See "Solution 3 - CSS Filter property"
     https://codepen.io/sosuke/pen/Pjoqqp
  */
}

img.church_full {
  width: 300pt;
}

div.navBar {
  width: 100%;
  display: flex;
  /*justify-content: space-between;*/
}

div.navButton {
  height: 26pt;
  width: 200pt;
  text-align: left;
  color: gold;
}

div.dropdownMenu {
  position: absolute;
  top: 50px; /* Adjust based on button-row height */
  /*left: 0;*/ 
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  display: block; 
}

.navBar button.active + .options-list {
  display: block; 
}


div.listAndMainInfo {
  display: flex;
  /*grid-template-columns: 20% 80%;     /* two columns */
  /*grid-template-rows: 100%;           /* one row */
}

div.leftList {
  padding: 20px;
  flex: 0 0 20%;
  overflow-y: auto;
}
div.leftList ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%
  overflow-y: auto;
}
div.leftList li {
  cursor: pointer;
}
div.leftList button {
  width: 100%;
  background-color: transparent;
  color: azure;
  border-style: none;
  text-align: left;

}
div.mainInfo {
  flex: 1;  
  overflow-y: auto;
  padding: 20px;
  color: #ddd;
  background-color: #222;
}

h1.leftHeader {
  color: gold;
}

